# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
.classpath
.factorypath
.c9/
*.jar
*.zip
*.tar.gz
*.rar

# IDE
.vscode/
.idea/
*.iws
*.iml
*.ipr
*.swp
*.swo
*~
.DS_Store

# Spring Boot
application-dev.properties
application-prod.properties

# Logs
logs/
*.log
